.loginPage {
  display: flex;
  width: 400px;
  height: 500px;

  &__container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    &_title {
      margin: 10px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;


      h2 {
        font-size: 30px;
        font-weight: 700;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      color: rgba(0,0,0,0.6);
    }


    &_error {
      color: red !important;
    }

    &_form {
      padding: 12px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      &_container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &_item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
        }
      }

      &_checkbox {
        display: flex;
        flex-direction: row;
        gap: 12px;

        input[type="checkbox"] {
          width: 16px;
          height: 16px;
          border-radius: 100%;
          accent-color: #000000;
        }
      }
    }
  }
}
